<a href="https://colab.research.google.com/github/ssreddy98-git/BDA-Assignment/blob/main/ICP1_700778513.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Input the string “Python” as a list of characters from console, delete at least 2 characters, reversetheresultant string, and print it.

In [ ]:
str = input("Enter string : ") #prompt for the user input
list_str = list(str) # convert the input to list
del list_str[4:6] # delete elements from 4 to 6 (6th is excluded)
list_str.reverse() # Reverse the list
result = ''.join(list_str) # Join each element in the string(to remove the "," which usually appears in the list)
print(result)

Enter string : python
htyp

Take two numbers from user and perform at least 4 arithmetic operations on them.

In [ ]:
num1 = float(input("Enter number 1: ")) #prompt the user to input number 1
num2 = float(input("Enter number 2: ")) #prompt the user to input number 2

addition = num1+num2 #perform addition and save the value in variable addition
subtraction = num1-num2  #perform subtraction and save the value in variable subtraction
division = num1/num2 if num2!=0 else "cannot divide by 0" #perform the division and save the value in variable division
multiplication = num1*num2 #perform the multiplication and save the value in variabe multiplication

#print the outputs
print("sum", addition)
print("difference", subtraction)
print("division", division)
print("multiplication", multiplication)

Enter numebr 1: 5
Enter number 2: 6
sum 11.0
difference -1.0
division 0.8333333333333334
multiplication 30.0

Write a program that accepts a sentence and replace each occurrence of ‘python’ with
‘pythons’.

In [ ]:
sentence = input("Enter a sentence : ") #prompt the user to input the sentence, make sure you have python in the sentence.
modified = sentence.replace('python', 'pythons') #replace python with pythons.
print(modified) #print the output.

Enter a sentence : hello python
hello pythons

Use the if statement conditions to write a program to print the letter grade based on
an input class score. Use the grading scheme we are using in this class.

In [ ]:
score = float(input("Enter your class score : ")) #prompt the user to input the score

#use if else statements
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80 and score < 90:
    grade = 'B'
elif score >= 70 and score < 80:
    grade = 'C'
elif score >= 60 and score < 70:
    grade = 'D'
elif score >= 0 and score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'

#print the output
print("Your grade is: ",grade)

Enter your class score : 96
Your grade is:  A

Write a code that appends the type of elements from a given list.

In [ ]:
x = [23, 'Python', 23.98] #create a list as per the requirement
types_list = [type(item) for item in x] #use type function to get the element type and for loop iterates through all the elements in the list
#print the output
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

• Find the length of the set IT_companies

• Add 'Twitter' to IT_companies

• Insert multiple IT companies at once to the set IT_companies

• Remove one of the companies from the set IT_companies

• What is the difference between remove and discard

• Join A and B

• Find A intersection B

• Is A subset of B

• Are A and B disjoint sets

• Join A with B and B with A

• What is the symmetric difference between A and B

• Delete the sets completely

• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
#Create sets as per the requirement
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Use len function to get the length of the list.
print("Length of IT_companies:", len(IT_companies))

#Use add function to add the element in the set
IT_companies.add('Twitter')
print("IT_companies after adding Twitter:", IT_companies)

#Use update function to add multiple elements in the set
IT_companies.update(['Tesla', 'GE'])
print("IT_comapnies after updating with multiple companies", IT_companies)

#Use remove function to remove a specific element from the set
IT_companies.remove('Oracle')
print("IT_companies after removing Oracle:", IT_companies)

#Use union function to get all elements from both sets
A_union_B = A.union(B)
print("Union of A and B:", A_union_B)

#Use intersection function to get common elements from both sets
A_intersection_B = A.intersection(B)
print("Intersection of A and B:", A_intersection_B)

#Use issubset function to check if A is subset of B
is_subset = A.issubset(B)
print("Is A a subset of B?", is_subset)

#Use isdisjoint function to check if A and B are disjoint
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint?", are_disjoint)

#Use union function from both sides
A_with_B = A.union(B)
B_with_A = B.union(A)
print("A union B:", A_with_B)
print("B union A:", B_with_A)
z
#Use symmetric_difference to get non-common elements
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)

#Delete the sets
del IT_companies
del A
del B
print("Sets IT_companies, A, and B have been deleted")

#Convert age list to set and compare lengths
age_set = set(age)
print("Original age list:", age)
print("Age set:", age_set)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
IT_companies after adding Twitter: {'IBM', 'Facebook', 'Google', 'Amazon', 'Oracle', 'Twitter', 'Apple', 'Microsoft'}
IT_comapnies after updating with multiple companies {'GE', 'Oracle', 'Amazon', 'Microsoft', 'Google', 'Twitter', 'Apple', 'IBM', 'Tesla', 'Facebook'}
IT_companies after removing Oracle: {'GE', 'Amazon', 'Microsoft', 'Google', 'Twitter', 'Apple', 'IBM', 'Tesla', 'Facebook'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets IT_companies, A, and B have been deleted
Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Age set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5

Video Link: https://drive.google.com/file/d/1AKx7pkYLMmdyh6WW1zBvGUc8338wO-1y/view?usp=share_link