<a href="https://colab.research.google.com/github/ssreddy98-git/BDA-Assignment/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:

• Explain the difference between Counter.count and self._count.

• What is the output of a.get_counts() and b.get_counts()?

• How does the increment method affect both the class and instance variables?

In [ ]:
class Counter:
  count=0

  def __init__(self):
    self._count=0

  def increment(self):
    self._count += 1
    Counter.count += 1

  def get_counts(self):
    return f"Instance count: {self._count}, Class count:{Counter.count}"


a= Counter()
b= Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count:3
Instance count: 1, Class count:3

• Counter.count is a class-level variable, which means it is shared among all instances of the class. In contrast, self._count is an instance-level variable, meaning it belongs to a specific object and is unique to each instance.

• output:
a.get_counts()

Instance count: 2, Class count: 3

b.get_counts()

Instance count: 1, Class count: 3

This shows that there are two instances: a and b.

• When a.increment() is called, both the class-level variable (count) and the instance variable (a._count) increase by 1.

When b.increment() is called, the class-level variable increases again (now shared by both instances), while b._count increases by 1. a._count remains unchanged.

Therefore, the class-level count reflects the total number of increments across all instances, while the instance-level _count reflects the number of increments for that particular object.

Question 2:

Find and remove the bug from the code to obtain the given output.

In [ ]:
def sum_all(args):
  return sum(args)

print("Sum of 1, 2, 3 is: ",sum_all(1,2,3))
print("Sum of 4, 5, 6, 7 is: ",sum_all(4,5,6,7))

TypeError: sum_all() takes 1 positional argument but 3 were given

Corrected code:

In [ ]:
def sum_all(*args):
  return sum(args)

print("Sum of 1, 2, 3 is: ",sum_all(1,2,3))
print("Sum of 4, 5, 6, 7 is: ",sum_all(4,5,6,7))

Sum of 1, 2, 3 is:  6
Sum of 4, 5, 6, 7 is:  22

Question 3:

Write a function called first_word that takes a list of character strings as input and returns the first
element of the list in alphabetical order. For example, your function should work like this:

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude'] (Input)

first_word(students) (Function)

'Bartholomew' (Output)

In [ ]:
def first_word(a):
  sorted_list=sorted(a)
  first_element=sorted_list[0]
  return first_element

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
first_word(students)

'Bartholomew'

Question 4:

Create a class Employee and then do the following

• Create a data member to count the number of Employees

• Create a constructor to initialize name, family, salary, department

• Create a function to average salary

• Create a Fulltime Employee class and it should inherit the properties of Employee class

• Create the instances of Fulltime Employee class and Employee class and call their member functions.

In [ ]:
class Employee:
  e_count=0
  salaries=[]

  def __init__(self,name,family,salary,department):
    self.name= name
    self.family= family
    self.salary= salary
    self.department= department

    Employee.e_count += 1
    Employee.salaries.append(salary)

  def average_salary():
    return sum(Employee.salaries)/Employee.e_count


class FulltimeEmployee(Employee):
  def __init__(self,name,family,salary,department):
    super().__init__(name,family,salary,department)

In [ ]:
emp1=Employee("Satish","Sabbella",100000,"IT")
emp2=FulltimeEmployee("Shilpa","Dasari",100000,"HR")
emp3=Employee("Jagan","YS",500000,"CEO")

In [ ]:
print("Total Employees: ", Employee.e_count)
print("Average Salary:", Employee.average_salary())

Total Employees:  3
Average Salary: 233333.33333333334

link: https://drive.google.com/file/d/15BPuVQZ3S9zD2KfikA8m2aYU0BT20GQ1/view?usp=share_link